.idea
vendor
composer.lock
coverage
!coverage/.gitkeep
/.scannerwork/
/sonar-project.properties
/humbug.json
/documentation/coverage-html/
!/documentation/coverage-html/.gitkeep
/documentation/humbug/report.txt
/documentation/humbug/report.json
